body {
	background-color: black
}

/* Environment terrains */
.terrain-water {
	fill: url(#tile-water) royalblue;
}
.terrain-ocean {
	fill: url(#tile-ocean) navy;
}

.terrain-sand {
	fill: url(#tile-sand) yellow;
}

.terrain-grass {
	fill: url(#tile-grass) lime;
}
.terrain-forest {
	fill: url(#tile-forest) darkgreen;
}

.terrain-mountain {
	fill: url(#tile-mountain) SaddleBrown;
}
.terrain-snow {
	fill: url(#tile-snow) white;
}
.terrain-rock {
	fill: url(#tile-rock) silver;
}

.terrain-lava {
	fill: url(#tile-lava) red;
}
.terrain-creep {
	fill: url(#tile-creep) purple;
}
